nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    align-items: center;
    margin-bottom: 1rem;
    margin: auto;
}


h1{
    font:500 2rem "Poppins";
    color: #1D2B53;
}

svg{
    font-size: 2.6rem;
    color: #1D2B53;
}



